*{
    box-sizing: border-box;
}
body{
    background-color: #2a2a72;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-form{
    width: 100%;
    max-width: 700px;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: #814cd5;
    border: none;
    border-radius: 15px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow:0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1) ;
}

.user-form input::placeholder{
    color: #bbb;
}

.user-form input:focus{
    outline: none;
}

.card{
    background-color: #4c2885;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #2a2a72;
    margin-bottom: 20px;
}

.user-info{
    color: #eee;
}

.user-info h2{
    font-size: 24px;
    margin-bottom: 10px;
}

.user-info ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.user-info ul li{
    display: flex;
    align-items: center;
    text-align: center;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo{
    text-decoration: none;
    color: #fff;
    background-color: #9462e3;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 12px;
}

@media(max-width: 500px){
    .car{
        flex-direction: column;
        align-items: center;
    }

    .user-form{
        max-width: 400px;
    }
}